#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
     
}

.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    margin-left: -71%;

}

.skillDesc{
    font-weight: 300;
    position: relative;
    font-size: 1rem;
    max-width: 50%;
    line-height: 1.8;
    margin-left: -34rem;
    text-align: left;
    padding: 0 2rem;
    color: aqua;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;

}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    margin-left: -35rem;
    border-radius: 10rem;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    background: linear-gradient(-85deg, #e81cff 0%, #40c9ff 100% );
}

.skillBar h2{
    color:	#800000;
    text-align:center;
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText{
    font-size: 0.75;
    /* align-items: center; */
    /* justify-content: center; */
    
}

/* .readMoreButton{
    color: #e81cff;
    background-color: aqua;
    font-size: 20px;
    box-shadow: ;
    margin: auto;
    margin-left: 5rem;
    margin-top: 0.5rem;
    height: 3rem;
    width: 7rem;
} */

.readMoreButton{
    border: none;
    color: #fff;
    background: linear-gradient(-85deg, #e81cff 0%, #40c9ff 100% );
    border-radius: 2px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-left: -62rem;
    margin-top: 0.5rem;

}

.readMoreButton:hover{
    color: red;
    cursor: pointer;
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }



/* @media screen and(max-width:720px) {
    .skillBarText>p{
        font-size: 10vw;
    }   
} */








