.contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle   {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: aqua;
    /* text-shadow:
    0 0 7px #fff,
    0 0 10px #40c9ff,
    0 0 21px #e81cff,
    0 0 102px #0fa,
    0 0 151px #0fa; */
    /* background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% ); */
}

.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    color: yellow;
}


#client{
    padding: 2rem;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90wv;
    max-width: 60rem;
    
}

.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);

}


.submitBtn {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    margin-top: 5%;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .submitBtn::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -1;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .submitBtn::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .submitBtn:hover::after {
    filter: blur(30px);
  }
  
  .submitBtn:hover::before {
    transform: rotate(-180deg);
  }
  
  .submitBtn:active::before {
    scale: 0.7;
  }
  
  

.links{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;

}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
    transition: all .2s ease-in-out;
    border-radius: 50%;

}

.link:hover{
  box-shadow: 0 0 5px yellow;
  border-radius: 50%;
  transform: scale(1.2);
  /* text-shadow: 0 0 5px #ffee10; */
}

#linkk{
  mix-blend-mode:exclusion;
}
