#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
    margin-top: 5rem;
    max-width: 80%;
    

}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
}

.worksImgs{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    position: relative;
}

.worksImg{
    object-fit: cover;
    position: relative;
    height: auto;
    width: 28rem;
    margin: 0.5rem; 
    transition: 0.5s;
    opacity: 0.8;
}


.card:hover .worksImg{
    cursor: pointer;
    scale: 0.2;
    opacity: 0.2;
    animation: fade 1s ease-in ;
    
}

#img{
    height: 18rem;
}
.card{
    border-style: solid;
    border-radius: 0.3rem;
    margin: 0.5rem;
    background: #141414;
    height:19rem;
    cursor: pointer;
}

.card:hover .ImgDetails{
    visibility: visible;
}


.ImgDetails{
    visibility:hidden;
    position: relative;
    float: none;
    top: -10rem;
    font-size: 2rem;
    color:aqua;

}


@keyframes fade{
    from {top: 100px;}
    to {top: -10px;}
}

@media screen and (max-width: 1024px) {
    .worksTitle {
        font-size: 2.5rem;
    }

    .worksImg {
        width: 25rem;
    }
}

@media screen and (max-width: 768px) {
    .worksTitle {
        font-size: 2rem;
    }

    .worksImg {
        width: 20rem;
    }
}

@media screen and (max-width: 585px) {
    .worksTitle {
        font-size: 1.5rem;
    }

    .worksImg {
        height: 48vw;
    }
}

@media screen and (max-width: 480px) {
    .worksTitle {
        font-size: 1.2rem;
    }

    .worksImg {
        width: 100%;
    }

    .ImgDetails {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

