#works{
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;
    margin-top: 5rem;
    max-width: 80%;
    /* margin-left: -60rem; */
    

}

.worksDesc {
    font-weight: 300;
    font-size: 1rem;
    /* margin-left: -23rem; */
}

.worksImgs{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    position: relative;
}

.worksImg{
    object-fit: cover;
    position: relative;
    height: auto;
    width: 28rem;
    margin: 0.5rem; 
    transition: 0.5s;
    opacity: 0.8;
}


.card:hover .worksImg{
    cursor: pointer;
    /* box-shadow: rgba(232, 28, 255, 0.8) 2px 2px,rgba(64, 201, 255, 0.4) 4px 4px; */
    scale: 0.2;
    opacity: 0.2;
    animation: fade 1s ease-in ;
    
}

#img{
    height: 18rem;
}
.card{
    border-style: solid;
    border-radius: 0.3rem;
    margin: 0.5rem;
    background: #141414;
    height:19rem;
    cursor: pointer;
}

.card:hover .ImgDetails{
    visibility: visible;
    /* transition-delay: 2s ease-in; */
    /* animation: fade 1s ; */
}



.ImgDetails{
    visibility:hidden;
    position: relative;
    float: none;
    top: -10rem;
    font-size: 2rem;
    color:aqua;

}


@keyframes fade{
    from {top: 100px;}
    to {top: -10px;}
}

@media screen and (max-width:585px) {
    .worksImg{
        height: 48vw;
    }
    
}















