/* body{
    background-color: black;
} */
#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: visible;
    color: rgba(223, 28, 148, 0.952);
    /* color: rgb(223, 28, 148, 0.952); */
    position: relative;

}

.smoke{
    width: 100%;
    height: 100vh;
}

video{
    width: 100rem;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;

    /* border-radius: 10%; */

}

/* .bg{
    position: absolute;
    top: -1rem;
    right: -20rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    border: none;
    border-radius: 10rem;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
    
    

} */

.imgCont {
    position: absolute;
    top: -82px;
    right: -4rem;
    height: 228%;
}

.bg{
    position: sticky;
    top: 0;
    /* right: 8rem; */
    object-fit: cover;
    height: 50%;

    /* position: fixed;
    top: -2rem;
    right: 8rem;
    object-fit: cover;
    height: 100%; */
    border: none;
    mix-blend-mode: exclusion;
    /* border-radius: 10rem; */
    border-bottom-right-radius: 8rem;
    border-bottom-left-radius: 8rem; 
    
    

}


.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: absolute; */

    
}

.hello{
    font-size: 1rem;
    font-weight: 100;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 100;
}

/*.btn{
    background: rgb(62, 164, 211);
    margin: 1rem 0;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2rem;
       
}


.btn:hover{
    background: rgb(210, 23, 210);
    cursor: pointer;
     
}*/

.button {
    --color: #40c9ff;
    padding: 0.8em 1.7em;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 200;
    font-size: 15px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em; 
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   


.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 840px) {
    .bg{
        right: -15vw;
    }

    .introContent{
        font-size: 5vw;
    }
    .hello{
        font-size: 2.5;
    }

}

@media screen and (max-width: 480px) {
    .bg{
        right: -60vw;
    }

}

@media screen and (max-width: 430px) {
    .bg{
        right: -60%;
    }

}

@media screen and (max-width: 360px) {
    .bg{
        right: -100%;
    }

}