
.skills {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 90%;
}

.skill {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.skill h1 {
    margin-top: 2rem;
    font-size: 2rem;
}

.skill-name {
    font-size: 16px;
    font-weight: 700;
    color: aqua;
    text-transform: uppercase;
    margin: 15px 0;
}

.skill-bar {
    height: 14px;
    background: #282828;
    width: 100%;
    max-width: 35rem;
    border-radius: 10px;
}

.skill-per, .skill-per1, .skill-per2, .skill-per3, .skill-per4, .skill-per5, .skill-per6 {
    height: 14px;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per p, .skill-per1 p, .skill-per2 p, .skill-per3 p, .skill-per4 p, .skill-per5 p, .skill-per6 p {
    font-size: 1rem;
    position: absolute;
    right: 10px;
    top: -0.5rem;
}

@media screen and (max-width: 1024px) {
    .skill h1 {
        font-size: 1.5rem;
    }

    .skill-name {
        font-size: 14px;
    }

    .skill-bar {
        max-width: 30rem;
    }
}

@media screen and (max-width: 768px) {
    .skill {
        font-size: 1.2rem;
    }

    .skill h1 {
        font-size: 1.2rem;
    }

    .skill-name {
        font-size: 12px;
    }

    .skill-bar {
        max-width: 25rem;
    }
}

@media screen and (max-width: 480px) {
    .skill {
        font-size: 1rem;
    }

    .skill h1 {
        font-size: 1rem;
    }

    .skill-name {
        font-size: 10px;
    }

    .skill-bar {
        max-width: 20rem;
    }
}

@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes fillBars1 {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes fillBars2 {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes fillBars3 {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}

@keyframes fillBars4 {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes fillBars5 {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}

@keyframes fillBars6 {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}
